In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("../data/Product_DataSet.csv")

In [6]:
print(df.head())

   S.No BrandName Product ID              Product Name  \
0     1      4711      FR001         Cologne Fragrance
1     2      109f       DRW1  DRW1 - Westernwear-Women
2     3      109f       DRW2  DRW2 - Westernwear-Women
3     4      109f       DRW3  DRW3 - Westernwear-Women
4     5      109f       DRW4  DRW4 - Westernwear-Women

                                     Brand Desc  \
0                     ekw eau de cologne 400 ml
1           womens v- neck short dress - yellow
2           womens round neck solid top - black
3    womens round neck stripe shift dress - red
4  womens round neck solid high low top - black

                         Product Size Currancy   MRP  SellPrice Discount  \
0                               Small      Rs.  3900       3120  20% off
1  Size:Medium,Small,X-Large,XX-Large      Rs.  1899        569  70% off
2     Size:Large,Medium,Small,X-Large      Rs.  1499        599  60% off
3                   Size:Medium,Small      Rs.  1599        639  60% off
4     Size:Large,Medium,Small,X-Large      Rs.  1199        479  60% off

            Category
0    Fragrance-Women
1  Westernwear-Women
2  Westernwear-Women
3  Westernwear-Women
4  Westernwear-Women

In [7]:
print(df.shape)

(4566, 11)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   MRP           4553 non-null   object
 8   SellPrice     4566 non-null   int64
 9   Discount      4566 non-null   object
 10  Category      4566 non-null   object
dtypes: int64(2), object(9)
memory usage: 392.5+ KB
None

In [ ]:
#Change data type of MRP
df['MRP']=pd.to_numeric(df['MRP'], errors='coerce')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4566 entries, 0 to 4565
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          4566 non-null   int64
 1   BrandName     4566 non-null   object
 2   Product ID    4566 non-null   object
 3   Product Name  4566 non-null   object
 4   Brand Desc    4566 non-null   object
 5   Product Size  4566 non-null   object
 6   Currancy      4566 non-null   object
 7   MRP           4548 non-null   float64
 8   SellPrice     4566 non-null   int64
 9   Discount      4566 non-null   object
 10  Category      4566 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 392.5+ KB

In [ ]:
#Rename Columns for better Structure
df = df.rename(columns={'BrandName':'Brand_Name',
                   'Product ID':'Product_Id',
                   'Product Name':'Product_Name',
                   'Brand Desc':'Brand_Desc',
                   'Product Size':'Product_Size',
                   'Currancy':'Currency',
                   'SellPrice':'Sell_Price'})

In [ ]:
#Converted for better analysis
df['Discount']=df['Discount'].str.replace('% off','').astype(int)

In [21]:
df.head()

,S.No,Brand_Name,Product_Id,Product_Name,Brand_Desc,Product_Size,Currency,MRP,Sell_Price,Discount,Category
0,1,4711,FR001,Cologne Fragrance,ekw eau de cologne 400 ml,Small,Rs.,3900.0,3120,20,Fragrance-Women
1,2,109f,DRW1,DRW1 - Westernwear-Women,womens v- neck short dress - yellow,"Size:Medium,Small,X-Large,XX-Large",Rs.,1899.0,569,70,Westernwear-Women
2,3,109f,DRW2,DRW2 - Westernwear-Women,womens round neck solid top - black,"Size:Large,Medium,Small,X-Large",Rs.,1499.0,599,60,Westernwear-Women
3,4,109f,DRW3,DRW3 - Westernwear-Women,womens round neck stripe shift dress - red,"Size:Medium,Small",Rs.,1599.0,639,60,Westernwear-Women
4,5,109f,DRW4,DRW4 - Westernwear-Women,womens round neck solid high low top - black,"Size:Large,Medium,Small,X-Large",Rs.,1199.0,479,60,Westernwear-Women

In [24]:
df.isna().sum()

S.No             0
Brand_Name       0
Product_Id       0
Product_Name     0
Brand_Desc       0
Product_Size     0
Currency         0
MRP             18
Sell_Price       0
Discount         0
Category         0
dtype: int64

In [29]:
print(df.isnull().sum())

S.No             0
Brand_Name       0
Product_Id       0
Product_Name     0
Brand_Desc       0
Product_Size     0
Currency         0
MRP             18
Sell_Price       0
Discount         0
Category         0
dtype: int64

In [45]:
df.duplicated().sum()

np.int64(0)

In [ ]:
#Statistics

In [ ]:
df[['MRP','Sell_Price','Discount']].describe()

                MRP    Sell_Price     Discount
count   4548.000000   4566.000000  4566.000000
mean    1822.885840   2005.222733    29.991897
std     2281.270513   2259.614915    17.856129
min        0.000000     89.000000     5.000000
25%        9.000000    749.000000    10.000000
50%     1495.000000   1379.000000    30.000000
75%     2499.000000   2299.000000    50.000000
max    28495.000000  25995.000000    80.000000

In [32]:
df[['MRP','Sell_Price','Discount']].median()

MRP           1495.0
Sell_Price    1379.0
Discount        30.0
dtype: float64

In [ ]:
#Analysis

In [37]:
df['Discount'].value_counts()

Discount
10    1431
50    1022
30     752
20     481
40     425
60     176
70      93
5       53
35      30
25      17
53       9
15       9
12       9
45       8
47       8
51       6
33       4
26       4
38       4
68       3
71       3
62       2
54       2
42       2
17       1
80       1
58       1
23       1
44       1
27       1
76       1
55       1
78       1
74       1
22       1
72       1
34       1
Name: count, dtype: int64

In [38]:
df['Discount'].mean()

np.float64(29.991896627244852)

In [ ]:
# df['Category'].unique()
df['Category'].nunique()

7

In [39]:
df['Category'].value_counts()

Category
Westernwear-Women           1654
Indianwear-Women            1131
Footwear-Women               480
Jewellery-Women              438
Lingerie&Nightwear-Women     367
Watches-Women                329
Fragrance-Women              167
Name: count, dtype: int64

In [43]:
df['Brand_Name'].value_counts()

Brand_Name
and                        709
aurelia                    486
ayesha                     381
biba                       290
adidas                     248
allen solly                239
catwalk                    237
casio                      198
amante                     193
altlife                    161
cover story                148
clovia                     147
arteastri                  138
campus sutra               115
109f                       114
ceriz                       96
amukti                      93
belleziya                   74
clarks                      61
anne klein                  56
clara                       53
aarke                       45
ajmal                       31
armani exchange             31
coach                       31
carolina herrera            25
arcelia                     21
calvin klein                16
amazfit                     16
allen solly tribe           15
burberry                    15
alcis                       14
antonio banderas            13
crimsoune club              10
colour me                    7
abercrombie & fitch          5
citizen                      4
all good scents              3
chopard                      3
aigner                       2
ariana                       2
chloe                        2
calvin klein underwear       2
black panther                2
beverly hills polo club      2
alexandre christie           1
4711                         1
18.21 man made               1
accessorize                  1
boucheron                    1
athome                       1
back to earth                1
betty barclay                1
aspen                        1
charchit                     1
clinique                     1
clarins                      1
Name: count, dtype: int64